/* Styles for dice game */

body {
    background-color: #211e1e;
    color: #fff;
}

hr
{
  display:block;
  border:none;
  height:15px;
  background-image:url('images/hr-dice.png');
  background-repeat: repeat-x;
}

.headInfo {
    margin-top: 25px;
    margin-left: 50px;
    float: right;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
}

.player.col-sm-8 {
    background-color: #9e9e9e;
    padding: 20px;
}

.dealer.col-sm-4 {
    background-color: #423737;
    padding: 20px;
}

button.rollDice {
    font-size: 42px;
    background: #449d44;
    border: 2px solid;
    border-radius: 10px;
    margin: 10px 30px 20px;
    padding: 15px;
}

button.hitMe {
    float: right;
    font-size: 24px;
    background: #ee3c3c;
    border: 2px solid;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

button.allPlayersStay {
    font-size: 30px;
    background: aquamarine;
    border: 2px solid;
    border-radius: 10px;
    margin: 10px 30px 20px;
    padding: 15px;
}

div.dice4side{
  color: #000;
	float:left;
  width:125px;
  height: 125px;
  line-height: 130px;
  background-image: url(images/4.png);
	padding:10px;
	font-size:24px;
	text-align:center;
	margin:5px;
}

div.dice6side{
  color: #000;
	float:left;
	width:125px;
  height: 125px;
  line-height: 100px;
	background-image: url(images/6.png);
	padding:10px;
	font-size:24px;
	text-align:center;
	margin:5px;
}

div.dice8side{
  color: #000;
	float:left;
	width:125px;
  height: 125px;
  line-height: 125px;
	background-image: url(images/8.png);
	padding:10px;
	font-size:24px;
	text-align:center;
	margin:5px;
}

div.dice10side{
  color: #000;
	float:left;
	width:125px;
  height: 125px;
  line-height: 100px;
	background-image: url(images/10.png);
	padding:10px;
	font-size:24px;
	text-align:center;
	margin:5px;
}

div.dice12side{
  color: #000;
	float:left;
	width:125px;
  height: 125px;
  line-height: 100px;
	background-image: url(images/12.png);
	padding:10px;
	font-size:24px;
	text-align:center;
	margin:5px;
}

div.dice20side{
  color: #000;
	float:left;
	width:125px;
  height: 125px;
  line-height: 100px;
	background-image: url(images/20.png);
	padding:10px;
	font-size:24px;
	text-align:center;
	margin:5px;
}
